# Autodetect text files
* text=auto

# ...Unless the name matches the following
# overriding patterns

# Definitively text files 
Vagrantfile text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
*.sh text eol=lf

# Ensure those won't be messed up with
*.jpg binary
*.data binary
